 .u-section-1 {
  background-image: url("images/design-an-attractive-background-for-your-website.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1803px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 51px auto 0 489px;
}

.u-section-1 .u-image-1 {
  height: 5px;
  margin-bottom: 0;
  margin-top: 28px;
  width: 1140px;
}

.u-section-1 .u-image-2 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/hitman-3.jpg");
  margin: 35px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/cyberpunk.jfif");
  background-position: 50% 50%;
  margin: -216px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/zombiearmy4.png");
  background-position: 50% 50%;
  margin: -216px auto 0 866px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/amongus.png");
  background-position: 50% 50%;
  margin: 85px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/forzahorizon4.png");
  background-position: 50% 50%;
  margin: -216px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/pobranewiedzmin.png");
  background-position: 50% 50%;
  margin: -216px auto 0 866px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/garysmod.png");
  background-position: 50% 50%;
  margin: 78px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/theforest.png");
  background-position: 50% 50%;
  margin: -216px auto 0 866px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/ets2.png");
  background-position: 50% 50%;
  margin: -209px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/i-far-cry-4-digital.jpg");
  background-position: 50% 50%;
  margin: 85px auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.jfif");
  background-position: 50% 50%;
  margin: -216px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/Scrap-mechanic-PC-Polska-wersja-STEAM.jfif");
  background-position: 50% 50%;
  margin: -216px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 86px auto 0 489px;
}

.u-section-1 .u-image-14 {
  height: 5px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 12px auto 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-image-15 {
  width: 274px;
  min-height: 216px;
  background-image: url("images/Grand_Theft_Auto_San_Andreas_logo.svg.png");
  background-position: 50% 50%;
  margin: 53px auto 35px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-1 {
    height: 4px;
    width: 940px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 666px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 666px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 666px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 416px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 309px;
  }

  .u-section-1 .u-image-1 {
    height: 3px;
    width: 720px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 446px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 446px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 446px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 335px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1484px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 232px;
  }

  .u-section-1 .u-image-1 {
    height: 2px;
    width: 540px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 266px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 266px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 244px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 146px;
  }

  .u-section-1 .u-image-1 {
    height: 1px;
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 66px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 146px;
  }
}