 .u-section-1 {
  background-image: url("images/tostronyinne.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 169px 356px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 229px;
  height: 229px;
  margin: -5px auto 0 83px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -199px 130px 0 391px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 0 391px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 83px 83px 0 438px;
}

.u-section-1 .u-image-2 {
  width: 263px;
  height: 194px;
  margin: 21px auto 0 57px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -169px 130px 0 391px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 60px 391px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 293px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -54px;
    margin-right: 293px;
    margin-left: 291px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 84px;
    margin-right: 0;
    margin-left: 321px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 30px;
    margin-left: 291px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 224px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 224px;
    margin-left: 101px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 307px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -83px;
    margin-right: 106px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 33px;
  }
}